<footer>
    <div class="footer-content">
        <div class="resume">
            <img src="../assets/icon/GG - logo (white).png" alt="">
            <p>
                Projeto que promove a reciclagem </br>
                e o descarte adequado de materiais </br>
                diversos.
            </p>
        </div>

        <div class="links">
            <div class="link">
                <h4>Contato</h4>
                <a href="mailto:contato@gg.com">Email</a>
                <a href="https://instagram.com" target="_blank">Instagram</a>
                <a href="tel:+551112345678">Telefone</a>
            </div>
            <div class="link">
                <h4>Páginas</h4>
                <a href="mailto:contato@gg.com">Início</a>
                <a href="https://instagram.com" target="_blank">ONGs</a>
                <a href="tel:+551112345678">Contato</a>
            </div>
            <div class="link">
                <h4>Seções</h4>
                <a href="#values">Nossos valores</a>
                <a href="#collaborators">Colaboradores</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2026 Projeto Recicla+</p>
    </div>
</footer>